<!-- <!DOCTYPE html>
<html>
<head>
	<title>Cardio Vascular Disease Predictor</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="./style.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="text-center">

	<h1>Cardio Vascular Disease Predictor</h1>
	<h2>CardioVascular Disease Predictor ML App </h2>

	<div class="container">
		<form method="POST" action="/" class="form-control">
			<div class="row my-2" style="justify-content: space-evenly;">
				<input type="text" name="age" placeholder="Age in Days">
				<input type="text" name="gender" placeholder="Gender (1 for male and 2 for female)">
				<input type="text" name="height" placeholder="Height in cm">
			</div>
			<div class="row my-2" style="justify-content: space-evenly;">
				<input type="text" name="weight" placeholder="Weight in Kg">
				<input type="text" name="ap_hi" placeholder="Systolic Blood Pressure in mm">
				<input type="text" name="ap_lo" placeholder="Diastolic Blood Pressure in mm">
			</div>
			<div class="row my-2" style="justify-content: space-evenly;">
				<input type="text" name="cholesterol" placeholder="Cholesterol Level(eg- 1,2 or 3">
				<input type="text" name="gluc" placeholder="Glucose Level(eg- 1,2 or 3)">
				<input type="text" name="smoke" placeholder="Smoking (1 for yes and 0 for no)">
			</div>
			<div class="row my-2" style="justify-content: space-evenly;">
				<input type="text" name="alco" placeholder="Alcohol (0 for no and 1 for yes)">
				<input type="text" name="active" placeholder="Active (1 for yes and 0 for no)">
				<input type="text" name="bmi" placeholder="BMI">
			</div>
	
			<input type="submit", name="Submit" class="btn btn-primary" style="border-radius: 300px; height: 35px; margin: 20px;">
		</form>
	</div>
	<br>
	<div class="container">
		<h3 style="padding: 30px;
	margin-bottom: 2 %;
	position: relative;
	background-size: 250% 250%;
	animation: change-gradient 10s ease-in-out infinite;
	color: #0000ff;
	border-radius: 300px;
	
	font-family: 'Pacifico', cursive;
	background: linear-gradient(160deg, #00fff0, #ffffff, #ff0000);
}">The output is : {{result}}</h3>
	</div>	
</body>
</html> -->



<!DOCTYPE html>
<html>
<head>
	<title>Cardio Vascular Disease Predictor</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body style="font-family: Arial, Helvetica,sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background: linear-gradient(160deg, #0f0f00, #00ffff, #0000ff);
	animation: change-gradient 10s ease-in-out infinite;
">

	<h1 style="padding: 30px;
	margin: 2%;
	position: relative;
	background: linear-gradient(45deg, #0000ff, #ffffff, #0000ff);
	background-size: 250% 250%;
	animation: change-gradient 10s ease-in-out infinite;
	color: #fff0f0;
	font-family: 'Pacifico', cursive;
	text-transform: uppercase;
	border-radius: 300px;">CardioVascular Disease Predictor </h1>

	<h2 style="padding: 30px;
	margin: 2%;
	position: relative;
	background: linear-gradient(135deg, #ff0000, #ffffff, #00ff00);
	background-size: 250% 250%;
	animation: change-gradient 10s ease-in-out infinite;
	color: #fff0f0;
	font-family: 'Pacifico', cursive;
	border-radius: 300px;"> CardioVascular Disease Predictor ML App (Using Flask Framework)</h2>
	

	<form method="POST" action="/" style="padding: 30px;
	margin: 2%;
	position: relative;
	background: linear-gradient(45deg, #443B96, #F60B68, #F4483A);
	background-size: 250% 250%;
	animation: change-gradient 10s ease-in-out infinite;
	color: #fff0f0;
	border-radius: 100px;
	">
		<input type="text" name="age" placeholder="Age in Days" style="height: 20px;
	width: 30%;
	color: #000000;
	display: inline-block;
	text-align: center;
	margin: 5px;
	border-radius: 300px;">
		<input type="text" name="gender" placeholder="Gender (1 for male and 2 for female)" style="height: 20px;
	width: 30%;
	color: #000000;
	display: inline-block;
	text-align: center;
	margin: 5px;
	border-radius: 300px;">
		<input type="text" name="height" placeholder="Height in cm" style="height: 20px;
	width: 30%;
	color: #000000;
	display: inline-block;
	text-align: center;
	margin: 5px;
	border-radius: 300px;">
		<input type="text" name="weight" placeholder="Weight in Kg" style="height: 20px;
	width: 30%;
	color: #000000;
	display: inline-block;
	text-align: center;
	margin: 5px;
	border-radius: 300px;">
		<input type="text" name="ap_hi" placeholder="Systolic Blood Pressure in mm" style="height: 20px;
	width: 30%;
	color: #000000;
	display: inline-block;
	text-align: center;
	margin: 5px;
	border-radius: 300px;">
		<input type="text" name="ap_lo" placeholder="Diastolic Blood Pressure in mm" style="height: 20px;
	width: 30%;
	color: #000000;
	display: inline-block;
	text-align: center;
	margin: 5px;
	border-radius: 300px;">
		<input type="text" name="cholesterol" placeholder="Cholesterol Level(eg- 1,2 or 3" style="height: 20px;
	width: 30%;
	color: #000000;
	display: inline-block;
	text-align: center;
	margin: 5px;
	border-radius: 300px;">
		<input type="text" name="gluc" placeholder="Glucose Level(eg- 1,2 or 3)" style="height: 20px;
	width: 30%;
	color: #000000;
	display: inline-block;
	text-align: center;
	margin: 5px;
	border-radius: 300px;">
		<input type="text" name="smoke" placeholder="Smoking (1 for yes and 0 for no)" style="height: 20px;
	width: 30%;
	color: #000000;
	display: inline-block;
	text-align: center;
	margin: 5px;
	border-radius: 300px;">
		<input type="text" name="alco" placeholder="Alcohol (0 for no and 1 for yes)" style="height: 20px;
	width: 30%;
	color: #000000;
	display: inline-block;
	text-align: center;
	margin: 5px;
	border-radius: 300px;">
		<input type="text" name="active" placeholder="Active (1 for yes and 0 for no)" style="height: 20px;
	width: 30%;
	color: #000000;
	display: inline-block;
	text-align: center;
	margin: 5px;
	border-radius: 300px;">
		<input type="text" name="bmi" placeholder="BMI (Body Mass Index)" style="
	height: 20px;
	width: 30%;
	color: #000000;
	display: inline-block;
	text-align: center;
	margin: 5px;
	border-radius: 300px;">
		<br>
		<input type="submit", name="Submit" class="btn btn-primary">
	
	</form>
	<h3 style="padding: 30px;">The output is : {{result}}</h3>
	
</body>
</html>