body{
	font-family: Arial, Helvetica,sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background: linear-gradient(160deg, #0f0f00, #00ffff, #0000ff);
	animation: change-gradient 10s ease-in-out infinite;

}
h1{
	padding: 30px;
	margin: 2%;
	position: relative;
	background: linear-gradient(45deg, #443B96, #F60B68, #F4483A);
	background-size: 250% 250%;
	animation: change-gradient 10s ease-in-out infinite;
	color: #fff0f0;
	border-radius: 300px;
	
}
h2{
	padding: 30px;
	margin: 2%;
	position: relative;
	background-size: 250% 250%;
	animation: change-gradient 10s ease-in-out infinite;
	color: #fff0f0;
	border-radius: 300px;
	
	font-family: 'Pacifico', cursive;
	background: linear-gradient(160deg, #0f0f00, #00ffff, #0000ff);
}
form{
	padding: 30px;
	margin: 2%;
	position: relative;
	background: linear-gradient(45deg, #443B96, #F60B68, #F4483A);
	background-size: 250% 250%;
	animation: change-gradient 10s ease-in-out infinite;
	color: #fff0f0;
	border-radius: 100px;
	

}
input{
	height: 20px;
	width: 50%;
	color: #000000;
	display: inline-block;
	text-align: center;
	margin: 5px;
	border-radius: 300px;
}

h3{
	padding: 30px;
	margin-bottom: 2 %;
	position: relative;
	background-size: 250% 250%;
	animation: change-gradient 10s ease-in-out infinite;
	color: #fff0f0;
	border-radius: 300px;
	
	font-family: 'Pacifico', cursive;
	background: linear-gradient(160deg, #005500, #009900, #00ff00);
}